<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>{{ Title }}</title>
    
    <script src="scripts/script.js" defer></script>
  </head>
<body>  
    <header>
        <h1>{{ mainheading }}</h1>
        <h2>{{ secondheading }}</h2>
        <a href="/mylist" class="listButtonBox">
          <button class="listButton">
            Create Your List
            <div class="saveIcon"></div>
          </button>
        </a>
        <a href="/profile" class="profileButtonBox">
          <button class="profileButton" aria-label="Profile">
            <div class="ProfileIcon"></div>
          </button>
        </a>
    </header>