body{
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        display: flex;
        justify-content: center;
        text-decoration: underline;
    }
    h2:hover{
        color: blue;
    }
}